<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net46" developmentDependency="true" />
  <package id="ExtensibleSaveFormat.EmotionCreators" version="16.2.0.2" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.4" targetFramework="net46" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.2.0.1" targetFramework="net46" />
  <package id="IllusionLibs.EmotionCreators.Assembly-CSharp" version="2019.6.6.2" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.EmotionCreators.UniRx" version="2019.6.6.2" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.EmotionCreators.UnityEngine.CoreModule" version="2017.4.24.3" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionModdingAPI.ECAPI" version="1.15.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.9.0" targetFramework="net46" developmentDependency="true" />
</packages>