<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ABMX.KKSABMX" version="5.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="ExtensibleSaveFormat.KoikatsuSunshine" version="16.8.1" targetFramework="net462" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.20" targetFramework="net462" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.9.0" targetFramework="net462" />
  <package id="IllusionLibs.BepInEx.MonoMod" version="22.1.29.1" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.Assembly-CSharp" version="2021.9.17" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.Assembly-CSharp-firstpass" version="2021.9.17" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UniRx" version="2021.9.17" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UniTask" version="2021.9.17" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.Unity.TextMeshPro" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.AnimationModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.AudioModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.CoreModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.ImageConversionModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.IMGUIModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.InputLegacyModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.PhysicsModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.TextRenderingModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.UI" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.UIModule" version="2019.4.9" targetFramework="net462" />
  <package id="IllusionLibs.XUnity.AutoTranslator.Plugin.Core" version="4.18.0" targetFramework="net462" />
  <package id="IllusionModdingAPI.KKSAPI" version="1.34.0" targetFramework="net462" developmentDependency="true" />
  <package id="Sideloader.KoikatsuSunshine" version="18.2.0" targetFramework="net462" developmentDependency="true" />
</packages>