<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.3" targetFramework="net35" />
  <package id="BepInEx.BaseLib" version="5.4.4" targetFramework="net35" />
  <package id="BepInEx.Core" version="5.4.4" targetFramework="net35" />
  <package id="ExtensibleSaveFormat.Koikatu" version="16.1.0" targetFramework="net35" developmentDependency="true" />
  <package id="HarmonyX" version="2.3.0" targetFramework="net35" />
  <package id="IllusionLibs.Koikatu.Assembly-CSharp" version="2019.4.27.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.Koikatu.Assembly-CSharp-firstpass" version="2019.4.27.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.Koikatu.UnityEngine" version="5.6.2.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionModdingAPI.KKAPI" version="1.14.0" targetFramework="net35" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.9.0" targetFramework="net35" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="20.11.26.2" targetFramework="net35" />
  <package id="MonoMod.Utils" version="20.11.26.2" targetFramework="net35" />
</packages>