<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IllusionLibs.BepInEx" version="5.0.0" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.0.0-beta" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.Koikatu.Assembly-CSharp" version="2019.4.27" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.Koikatu.UnityEngine" version="5.6.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionModdingAPI.KKAPI" version="1.9.5" targetFramework="net35" developmentDependency="true" />
</packages>