<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.15" targetFramework="net46" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.5.4" targetFramework="net46" />
  <package id="IllusionLibs.KoikatsuSunshine.Assembly-CSharp" version="2021.8.27.2" targetFramework="net46" />
  <package id="IllusionLibs.KoikatsuSunshine.UnityEngine.CoreModule" version="2019.4.9" targetFramework="net46" />
  <package id="Microsoft.Unity.Analyzers" version="1.11.0" targetFramework="net46" developmentDependency="true" />
</packages>