<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net46" developmentDependency="true" />
  <package id="ExtensibleSaveFormat.HoneySelect2" version="17.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.15" targetFramework="net46" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.5.4" targetFramework="net46" />
  <package id="IllusionLibs.BepInEx.MonoMod" version="21.8.5.1" targetFramework="net46" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp" version="2020.5.29.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp-firstpass" version="2020.5.29.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.IL" version="2020.5.29.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.Sirenix.Serialization" version="2020.5.29.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UniRx" version="2020.5.29.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.Unity.TextMeshPro" version="2018.4.11.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.CoreModule" version="2018.4.11.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.ImageConversionModule" version="2018.4.11.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.IMGUIModule" version="2018.4.11.4" targetFramework="net46" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UI" version="2018.4.11.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UIModule" version="2018.4.11.4" targetFramework="net46" />
  <package id="IllusionModdingAPI.HS2API" version="1.31.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.11.0" targetFramework="net46" developmentDependency="true" />
</packages>