<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.4" targetFramework="net35" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.2.0.1" targetFramework="net35" />
  <package id="IllusionLibs.Koikatu.Assembly-CSharp" version="2019.4.27.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.Koikatu.UnityEngine" version="5.6.2.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.Koikatu.UnityEngine.UI" version="5.6.2.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionModdingAPI.KKAPI" version="1.15.0" targetFramework="net35" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.9.0" targetFramework="net35" developmentDependency="true" />
</packages>