<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.15" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.5.4" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect.Assembly-CSharp" version="2017.6.30.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect.UnityEngine" version="5.3.5.2" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect.UnityEngine.UI" version="5.3.5.2" targetFramework="net35" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.11.0" targetFramework="net35" developmentDependency="true" />
</packages>