<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.0" targetFramework="net46" />
  <package id="ExtensibleSaveFormat.HoneySelect2" version="16.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.3.0" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.0.6" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp" version="2020.5.29" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp-firstpass" version="2020.5.29" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.IL" version="2020.5.29" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.CoreModule" version="2018.4.11" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.IMGUIModule" version="2018.4.11" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UI" version="2018.4.11" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionModdingAPI.HS2API" version="1.13.1" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.8.2" targetFramework="net46" developmentDependency="true" />
</packages>