<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net46" developmentDependency="true" />
  <package id="ExtensibleSaveFormat.AIGirl" version="19.3.3" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.Assembly-CSharp" version="2020.5.29.5" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.Assembly-CSharp-firstpass" version="2020.5.29.5" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.MessagePack" version="2020.5.29.5" targetFramework="net46" />
  <package id="IllusionLibs.AIGirl.Sirenix.Serialization" version="2020.5.29.5" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UniRx" version="2020.5.29.5" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.CoreModule" version="2018.2.21.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.ImageConversionModule" version="2018.2.21.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.IMGUIModule" version="2018.2.21.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.UI" version="2018.2.21.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.AIGirl.UnityEngine.UIModule" version="2018.2.21.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.22" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.9.0" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.MonoMod" version="22.1.29.1" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionModdingAPI.AIAPI" version="1.38.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.21.0" targetFramework="net46" developmentDependency="true" />
</packages>