<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.4" targetFramework="net46" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.2.0.1" targetFramework="net46" />
  <package id="IllusionLibs.HoneySelect2.Assembly-CSharp" version="2020.5.29.2" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.IL" version="2020.5.29.2" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.CoreModule" version="2018.4.11.2" targetFramework="net46" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect2.UnityEngine.UI" version="2018.4.11.2" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Unity.Analyzers" version="1.9.0" targetFramework="net46" developmentDependency="true" />
</packages>